*{
	outline: none;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
}
main{
	border: 1px solid black;
	padding: 20px;
	max-width: 500px;
	min-width: 300px;
}
h1{
	text-align: center;
}
input{
	padding: 5px;
	width: 100%;
}
div{
	margin: 20px 10px;
}
button{
	background: white;
	border: 1 solid black;
	padding: 5px 10px;
}
table{
	background: #FFF2CC;
	margin: 10px;
}
table, th, td {
	border-collapse: collapse;
}
th, td{
	border: 1px solid #E7D18E;
	text-align: center;
	min-width: 50px;
	padding: 10px;
}
.answer{
	background: #DAE8FC;
	border: 1px solid #84A1CC;
	padding: 10px;
}